@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-x {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}
